{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <a class="float-right btn btn-success" href="{{ path('author_new') }}"><i class="fas fa-plus"></i> Add Author</a>
    {% endif %}
    <h2>Authors</h2>
    <br />
    {{ include('search/basic.html.twig') }}
    <br />
    <table class="table table-striped">
        <thead>
        <tr>
            <th width="50%" {% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
            <th{% if pagination.isSorted('total') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'References (Included in reference)', 'total') }}</th>
            {% if is_granted("ROLE_ADMIN") %}
                <th class="text-center">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for author in pagination %}
            <tr>
                <td><a href="{{ path('author_show', { 'id': author.id }) }}">{{ author.name }}</a></td>
                <td>

                    {% set primary = 0 %}
                    {% for reference in author.references %}
                        {% if author.name in reference.author %}
                            {% set primary = primary + 1 %}
                        {% endif %}
                    {% endfor %}
                    {{ author.references|length }} ({{ primary }})
                
                </td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td class="text-center" width="150">
                        <a href="{{ path('author_edit', { 'id': author.id }) }}"><i class="fas fa-edit"></i> Edit</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <div class="p-2 total align-self-center">
            {{ pagination.getTotalItemCount }} results
        </div>

        <div class="navigation p-2 align-self-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
