{% extends 'base.html.twig' %}


{% block body %}
    {% if warning %}
        <div class="text-center alert alert-danger">
            <strong>Warning</strong> This reference does not appear to be formatted correctly, or is missing required information.
        </div>
    {% endif %}

    {% if is_granted("ROLE_ADMIN") %}
        <div class="float-right btn-group">
            <a class=" btn btn-primary" href="{{ path('reference_edit', { 'id': reference.id }) }}"><i class="fas fa-edit"></i> Edit</a>
            <button class="btn btn-danger btn-modal" type="button" data-href="{{ path('reference_delete', { 'id': reference.id }) }}"><i class="fas fa-trash"></i> Delete</button>
        </div>
    {% elseif not app.user %}
        <div class="float-right btn-group">
            <button class="btn btn-default btn-modal" data-href="{{ path('fix_landing', { 'id': reference.id }) }}"><i class="fas fa fa-question-circle"></i> Fix a problem</button>
        </div>
    {% endif %}
    <h2>Reference</h2>


    <br />
    <h3>For Word</h3>

    <div class="card">
        <div class="card-body wordbib">
            {{ reference|latin }}
        </div>
    </div>
    <br />
    <h3>For LaTeX</h3>

    <p>{% spaceless %}
            <textarea class="form-control" rows="6">
%\cite{{ '{' ~ reference.id ~ '}' }}
\bibitem{{ '{' ~ reference.id ~ '}' }}
   {{ reference.author }}
   \textquotedblleft{{ '{' ~ reference.title ~ '}' }}\textquotedblright,
   in \emph{{ '{' ~ reference.conference ~ '}'}},
   {{ reference.conference.location }}, {{ reference.conference.year }}, {{ reference.paperSection|replace({"-": "--"}) }}</textarea>
        {% endspaceless %}
    </p>



    <br />
    <h3>Metadata</h3>

    <div class="card">
        <div class="card-body">

            <p>
                Paper Title: {{ reference.title }}<br />
                Conference: <a href="{{ path("conference_show", {"id": reference.conference.id }) }}">{{ reference.conference }}</a><br />
                Paper ID: {{ reference.paperId }}<br />
                Location in proceedings: {{ reference.position }}<br />
            </p>
            <h4>Associated Authors</h4>
            <ul>
                {% for author in reference.authors %}
                    <li><a href="{{ path("author_show", {"id": author.id }) }}">{{ author }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br />
    <a class="btn btn-default" href="{{ path('reference_index') }}"><i class="fas fa-arrow-left"></i> Back to the list</a>


{% endblock %}
