{% extends 'base.html.twig' %}

{% block body %}

   <h2>Upload Conference</h2>

   <h4>{{ conference }}</h4>

   {% if conference.references|length %}
      <div class="alert alert-danger">Uploading a new import will delete {{ conference.references|length }} entries.</div>
   {% endif %}
   <br />
   {{ form_start(form) }}
      {{ form_row(form.file) }}
      {{ form_rest(form) }}
      <br />
      <button type="submit" class="btn btn-primary btn-lg btn-block">Upload</button>
   {{ form_end(form) }}
{% endblock %}
