{% extends 'base.html.twig' %}


{% block javascripts %}
   {{ parent() }}
   <script>
      var favourites = {{ favourites|json_encode }};
   </script>
   <script src="{{ asset('js/favourite.js') }}" async></script>
   <script src="{{ asset('js/search.js') }}" async></script>
{% endblock %}
{% block body %}
   <div class="row">
      <div class="col-sm">
         <h2>Search by</h2>

         <br />
         {{ form_start(form) }}

         {{ form_widget(form) }}
         <br />
         <button type="submit" class="btn btn-primary btn-block btn-lg">Search</button>
         <button type="reset" class="btn btn-light btn-block btn-lg">Clear Filters</button>
         {{ form_end(form) }}

      </div>
      <div class="col-sm results-section">
         <h2>Results</h2>

         <br />
         <em style="display:none;" id="searching"><i class="fa fa-spinner fa-spin"></i> Searching</em>
         <em id="no-results"
                 {% if references|length != 0 %}
            style="display:none"
                 {% endif %}>No results found.</em>

         <div id="some-results">
            <ul id="results">
               {% for reference in references %}
                  <li><a data-id="{{ reference.id }}" class="favourite favourite{{ reference.id }}" href="javascript:void(0)"><i class="far fa-star"></i></a><a class="item" href="{{ path("reference_show", {"id": reference.id }) }}">{{ reference.cache|latin }}</a></li>
               {% endfor %}
            </ul>

            
            <p class="show-total" style="{% if references|length >= total %}display:none{% endif %}">
            
            <em>Showing <span id="current-total">{{ references|length }}</span> results of total <span id="overall-total">{{ total }}</span></em>
            <br /><br />
            <a href="javascript:prevPage()" style='display:none;' class='prev-page'>&laquo; Previous</a>
            <span>Page <span class='page-number'>1</span></span>
            <a href="javascript:nextPage()" class='next-page'>Next &raquo;</a>
            </p>


         </div>
      </div>
   </div>

   <div class="partnership">

      <p>Created in partnership with
      <br class="break">
      <a target="_blank" href="https://ansto.gov.au/">
         <img alt="ANSTO Logo" src="{{ asset("images/ansto_logo.jpg") }}" />
      </a>
      <br class="break">
      as part of
      <br class="break">
      <a target="_blank" href="https://ipac19.org/"><img alt="IPAC Logo" src="{{ asset("images/ipac_logo.jpg") }}" /></a>
      </p>

   </div>

{% endblock %}
