{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var favourites = {{ favourite_service.favourites|json_encode }};
    </script>
    <script src="{{ asset('js/favourite.js') }}" async></script>
{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
    <div class="float-right btn-group">
        <a class=" btn btn-primary" href="{{ path('author_edit', { 'id': author.id }) }}"><i class="fas fa-edit"></i> Edit</a>
        <button class="btn btn-danger btn-modal" type="button" data-href="{{ path('author_delete', { 'id': author.id }) }}"><i class="fas fa-trash"></i> Delete</button>
    </div>
    {% endif %}
    <h2>Author: {{ author.name }}</h2>


    <br />
    <h3>References</h3>
    {% if author.references|length == 0 %}
        <p><em>No references found for this author.</em></p>
    {% endif %}
    <br />
    {% include "reference/listing.html.twig" %}
    <br />

    <a href="{{ path('author_index') }}" class="btn btn-default"><i class="fas fa-arrow-left"></i> Back to the list</a>

{% endblock %}
