{% extends 'base.html.twig' %}

{% block body %}
    <div class="float-right btn-group">
        <a class=" btn btn-primary" href="{{ path('author_edit', { 'id': author.id }) }}"><i class="fas fa-edit"></i> Edit</a>
        <button class="btn btn-danger btn-modal" type="button" data-href="{{ path('author_delete', { 'id': author.id }) }}"><i class="fas fa-trash"></i> Delete</button>
    </div>
    <h2>{{ author.name }}</h2>


    <br />
    <h3>References</h3>
    {% if author.references|length == 0 %}
        <p><em>No references found for this author.</em></p>
    {% endif %}
    {% for reference in author.references %}
        {{ reference|latin }}
        <br /><br />
    {% endfor %}

    <br />

    <a href="{{ path('author_index') }}" class="btn btn-default"><i class="fas fa-arrow-left"></i> Back to the list</a>

{% endblock %}
