{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/bootstrap-tagsinput.js") }}"></script>
    <script src="{{ asset("js/tags.js") }}?2" async></script>
{% endblock %}

{% block body %}
    <h2>Add Reference</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br />
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create" />
    {{ form_end(form) }}

    <br />
    <a class="btn btn-default" href="{{ path('reference_index') }}"><i class="fas fa-arrow-left"></i> Back to the list</a>
    <br /><br />
{% endblock %}
