{% extends 'base.html.twig' %}

{% block body %}
    <div class="float-right btn-group">
        <a class="btn btn-primary" href="{{ path('conference_edit', { 'id': conference.id }) }}"><i class="fas fa-edit"></i> Edit</a>
        <button class="btn btn-danger btn-modal" type="button" data-href="{{ path('conference_delete', { 'id': conference.id }) }}"><i class="fas fa-trash"></i> Delete</button>
    </div>
    <h2>{{ conference|latin }}</h2>

    <br />
    <h3>References</h3>
    {% if conference.references|length == 0 %}
        <p><em>No references found for this conference.</em></p>
    {% endif %}
    {% for reference in conference.references %}
        {{ reference|latin }}<br /><br />
    {% endfor %}
    <br />
    <a class="btn btn-default" href="{{ path('conference_index') }}"><i class="fas fa-arrow-left"></i> Back to the list</a>
{% endblock %}
