{% extends 'base.html.twig' %}

{% block body %}
    <h2>Conference</h2>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conference.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ conference.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ conference.code }}</td>
            </tr>
            <tr>
                <th>Folder</th>
                <td>{{ conference.folder }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ conference.year }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ conference.location }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conference_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('conference_edit', { 'id': conference.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
