<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8" />
    <title>{% block title %}Reference Search{% endblock %}</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135252843-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-135252843-1');
    </script>

    {% block stylesheets %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset("css/typeaheadjs.css") }}" />
        <link rel="stylesheet" href="{{ asset("css/bootstrap-tagsinput.css") }}" />
        <link rel="stylesheet" href="{{ asset("css/website.css") }}?2" />
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Poppins" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="container">
        <a href="http://www.jacow.org/" target="_blank"><img alt="JaCoW Logo" class="float-md-right" height="50" src="{{ asset("images/jacow_image.png") }}" border="0"></a>
        <a href="{{ path("homepage") }}"><h1>Reference Search</h1></a>
    </div>
</div>
<div class="nav-area">
    <div class="container">
        <div class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ url("homepage") == app.request.uri ? "active" : "" }}">
                        <a class="nav-link" href="{{ path("homepage") }}">Search</a>
                    </li>
                    <li class="nav-item {{ "author" in app.request.uri ? "active" : "" }}">
                        <a class="nav-link" href="{{ path("author_index") }}">Authors</a>
                    </li>
                    <li class="nav-item {{ "reference" in app.request.uri ? "active" : "" }}">
                        <a class="nav-link" href="{{ path("reference_index") }}">References</a>
                    </li>
                    <li class="nav-item {{ "conference" in app.request.uri ? "active" : "" }}">
                        <a class="nav-link" href="{{ path("conference_index") }}">Conferences</a>
                    </li>
                    <li class="nav-item {{ "favourite" in app.request.uri ? "active" : "" }}">
                        <a class="nav-link" href="{{ path("favourite_show") }}"><i class="fas fa-star"></i> Favourites</a>
                    </li>
                    {% if is_granted("ROLE_USER") %}
                        {#<li class="nav-item {{ "report" in app.request.uri ? "active" : "" }}">#}
                        {#<a class="nav-link" href="{{ path("report_index") }}">Reports</a>#}
                        {#</li>#}
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if not app.user %}
                        <li class="nav-item {{ "login" in app.request.uri ? "active" : "" }}">
                            <a class="nav-link" href="{{ path("fos_user_security_login") }}">Login</a>
                        </li>
                        <li class="nav-item {{ "register" in app.request.uri ? "active" : "" }}">
                            <a class="nav-link" href="{{ path("fos_user_registration_register") }}">Register</a>
                        </li>
                    {% else %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("feedback_index") }}">Feedback</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("user_index") }}">Users</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("fos_user_security_logout") }}">Logout</a>
                        </li>
                    {% endif %}
                    {% if not is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.jacow.org/Authors/RefSearchToolHelp" target="_blank"><i class="far fa-question-circle"></i> Help</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">

    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="flash-success alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}
    {% endblock %}


    <div class="modal fade ajaxModal" id="ajaxModal" tabindex="-1" role="dialog" aria-labelledby="ajaxModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset("js/typeahead.bundle.min.js") }}"></script>
    <script>var datasources = [];</script>
    <script src="{{ asset("js/global.js") }}?3" async></script>
{% endblock %}
</body>
</html>
