{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var favourites = {{ favourite_service.favourites|json_encode }};
    </script>
    <script src="{{ asset('js/favourite.js') }}" async></script>
{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <div class="float-right btn-group">
            <a class="btn btn-default" href="{{ path('conference_export', { 'id': conference.id }) }}"><i class="fas fa-download"></i> Export</a>
            <a class="btn btn-success" href="{{ path('upload_index', { 'id': conference.id }) }}"><i class="fas fa-upload"></i> Upload</a>
            <a class="btn btn-primary" href="{{ path('conference_edit', { 'id': conference.id }) }}"><i class="fas fa-edit"></i> Edit</a>
            <button class="btn btn-danger btn-modal" type="button" data-href="{{ path('conference_delete', { 'id': conference.id }) }}"><i class="fas fa-trash"></i> Delete</button>
        </div>
    {% endif %}
    <h2>{{ conference|latin }}</h2>

    
    <p>
        {% if conference.seriesNumber %}
            {{ conference.seriesNumber | ordinal }}
        {% endif %}
        {% if conference.series %}
            {{ conference.series }}<br />
        {% endif %}
        {{ conference.location }}, {{ conference.year }}        
    </p>
    {% if conference.isPublished %}
    <p>
        {% if conference.pubYear and conference.pubMonth %}
            {% if conference.baseUrl %}
            <a href="{{ conference.baseUrl }}" target="_blank">
            {% endif %}
                Published {{ date(conference.pubYear ~ '-' ~ conference.pubMonth ~ '-01') | date("M Y") }}<br />
            {% if conference.baseUrl %}
            </a>
            {% endif %}
        {% endif %}
        <span class="text-muted small">
        {% if conference.isbn %}
            ISBN {{ conference.isbn[0:3] ~ '-' ~ conference.isbn[3:1] ~ '-' ~ conference.isbn[4:2] ~ '-' ~ conference.isbn[6:6] ~ '-' ~ conference.isbn[12:1] }}<br />
        {% endif %}
        {% if conference.issn %}
            ISSN {{ conference.issn[0:4] ~ '-' ~ conference.issn[4:4] }}<br />
        {% endif %}
        </span>
    </p>
    {% endif %}
    
    <br />
    <h3>References </h3>
    {% if conference.references|length == 0 %}
        <p><em>No references found for this conference.</em></p>
    {% else %}
        {% include "reference/listing.html.twig" %}
    {% endif %}
    <a class="btn btn-default" href="{{ path('conference_index') }}"><i class="fas fa-arrow-left"></i> Back to the list</a>
{% endblock %}
