{% extends 'base.html.twig' %}

{% block body %}

    <h2>Reports</h2>
    <br />

    <div class="row">
        <div class="col">
            <h3>Positives</h3>
            <br />
            <ul>
                <li>Total references: {{ references }}</li>
                <li>Total conferences: {{ conferences }}</li>
                <li>Total authors: {{ authors }}</li>
                <li>Total searches performed: {{ searches }}</li>
            </ul>
        </div>
        <div class="col">
            <h3>Negatives</h3>
            <br />
            <ul>
                <li><a href="{{ path("pages_report") }}">References Missing pages: {{ pages }} ({{ (pages / references * 100)|round(0) }}%)</a></li>
                <li><a href="{{ path("id_report", {"filter": malformedIds|join(",") }) }}">References Malformed Authors: {{ malformed }} ({{ (malformed / references * 100)|round(0) }}%)</a></li>
                <li><a href="{{ path("id_conference", {"filter": emptyIds|join(",") }) }}">Known conferences not yet uploaded: {{ empty }} ({{ (empty / all_conferences * 100)|round(0) }}%)</a></li>
                {#<li>Unregistered DOI: TBA</li>#}
                {#<li>Conferences with pages missing: TBA</li>#}
            </ul>
        </div>
    </div>
{% endblock %}
