{% extends 'base.html.twig' %}

{% block javascripts %}
   {{ parent() }}

   <script>
      $("form input").change(function() {
         $.post(Routing.generate('search'), $("form").serialize(), function(content){
            var results = $("#results");

            results.empty();
            $.each(content, function(key,item) {
               results.append("<li>" + item.name + "</li>");
            })

            $("#no-results").toggle(content.length == 0)
         },"json");
      });


   </script>
{% endblock %}
{% block body %}
   <div class="row">
      <div class="col">
         <h2>Search by</h2>

         {{ form_start(form) }}

         {{ form_widget(form) }}

         <button type="submit" class="btn btn-primary btn-block btn-lg">Search</button>
         {{ form_end(form) }}
      </div>
      <div class="col">
         <h2>Results</h2>
         <br />
         <em id="no-results"
                 {% if references|length != 0 %}
            style="display:none"
                 {% endif %}>No results found.</em>


         <ul id="results">
            {% for reference in references %}
               <li>{{ reference.cache|latin }}</li>
            {% endfor %}
         </ul>


      </div>
   </div>
{% endblock %}
