{% extends 'base.html.twig' %}

{% block body %}
    <h2>Users</h2>
    <br />
    {% set filters = {'u.email': 'Email'} %}

    {{ knp_pagination_filter(pagination, filters) }}

    {% set filtered = 0 %}
    {% if pagination.params.filterField is defined and pagination.params.filterField in filters|keys %}
        {% set filtered = 1 %}
        {% set label = filters[pagination.params.filterField] %}
        {% set field = pagination.params.filterField|slice(2) %}
    {% endif %}
    <br />

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email</th>
            <th width="200" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr>
                <td>{{ user.email }}</td>
                <td class="text-center">
                    <div class="btn-group">
                    {% if 'ROLE_ADMIN' in user.roles %}
                        Adminstrator
                    {% else %}
                        <a class="btn btn-success btn-modal" href="{{ path('user_promote', { 'id': user.id }) }}">Promote</a>
                    {% endif %} 
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
        <div class="d-flex justify-content-between">
        <div class="p-2 total align-self-center">
            {{ pagination.getTotalItemCount }} results
        </div>

        <div class="navigation p-2 align-self-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
