{% extends 'base.html.twig' %}

{% block body %}
    <h2>Feedback</h2>
    <br />
    {% set filters = {'f.email': 'Contact','f.feedback': 'Feedback'} %}

    {{ knp_pagination_filter(pagination, filters) }}

    {% set filtered = 0 %}
    {% if pagination.params.filterField is defined and pagination.params.filterField in filters|keys %}
        {% set filtered = 1 %}
        {% set label = filters[pagination.params.filterField] %}
        {% set field = pagination.params.filterField|slice(2) %}
    {% endif %}
    <br />
    <table class="table table-striped">
        <thead>
        <tr>
            <th width="50%">Reference</th>
            <th {% if pagination.isSorted('f.feedback') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Feedback', 'f.feedback') }}</th>
            {% if filtered %}
                <th>{{ label }}</th>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <th class="text-center">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for feedback in pagination %}
            <tr>
                <td><a href="{{ path('reference_show', { 'id': feedback.reference.id }) }}">{{ feedback.reference|latin }}</a></td>
                <td>{{ feedback.feedback }}</td>
                {% if filtered %}
                    <td>
                        {{ attribute(feedback, field)|latin }}
                    </td>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <td class="text-center" width="150">
                        <a class="btn-modal" href="{{ path('feedback_delete', { 'id': feedback.id }) }}"><i class="fas fa-edit"></i> Delete</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="d-flex justify-content-between">
        <div class="p-2 total align-self-center">
            {{ pagination.getTotalItemCount }} results
        </div>

        <div class="navigation p-2 align-self-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
